body {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}  

header {

    background-color: red;

}



nav {

    background-color: green;

}


section {


    background-color: yellow;


}


#Eetu {


    background-color: tomato;


}

#Henri {
    width: 10000px;
    height: 10000px;

    background-size: cover;
    background-image: url("Kuvakansio/MonsterE.jpg");

}

    